$body-bg: #222;
$body-color: #fefefe;

@import "~bootstrap/scss/bootstrap";

.error {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
	padding: 12px 20px;
	border-radius: 0.25rem;
}

.weather-list {
	list-style: none;
	padding: 0;
}
